mat-expansion-panel {
    margin-bottom: 10px;
}

mat-expansion-panel-header {
    background-color: #f5f5f5;
    font-weight: bold;
}

textarea {
    width: 100% !important;
    box-sizing: border-box;
}

mat-form-field {
    width: 100%;
}