.emotional-state-default {
  background-color: transparent;
}
.emotional-state-green {
  background-color: #def3de;
}
.emotional-state-orange {
  background-color: #f4ebc4;
}
.emotional-state-red {
  background-color: #f3dede;
}
.grid-not-received-incident .x-grid3-cell-inner {
  font-weight: bold !important;
  color: #cc0000;
}
.attention {
  color: #cc0000;
  font-weight: bold !important;
  width: 100%;
  font-size: 18px;
}
ul.disc {
  list-style-type: disc;
  padding-left: 20px;
}
ul.circle > li {
  list-style-type: circle;
  list-style-position: inside;
}
.table-locations {
  color: #cc0000;
  font-weight: bold !important;
  width: 100%;
  background-color: #f2f2f2;
  font-size: 18px;
}
