#header
{ background: #ff7519 url(../images/top.png) repeat-x 0 bottom; }

#header h1
{ text-shadow: 1px 1px #555; }

{ background: #ff7519 url(../images/top.png) repeat-x 0 bottom;}

.warnings
{ background: #ddd; }

.warnings p
{ color:#222; }

