<div class="flex flex-col gap-8 w-full text-black">
    <h1 class="text-base">Solicitação Licença Doação de Sangue</h1>

    <form [formGroup]="form" class="flex flex-col gap-4 w-full">
        <div class="flex flex-col gap-2">
            <mat-label class="font-bold text-base text-black"
                >Atestado *</mat-label
            >
            <button
                (click)="fileInput.click()"
                class="flex justify-between gap-4 p-4 outline-dashed outline-gray-100 outline-4 bg-gray-50 text-lg rounded cursor-pointer"
            >
                <div *ngIf="!file" class="w-full text-black">
                    <span>Clique para selecionar um arquivo</span>
                </div>
                <div *ngIf="file" class="w-full text-black">
                    {{ file?.name }}
                </div>

                <input
                    #fileInput
                    type="file"
                    (change)="onFileInput($event)"
                    style="display: none"
                />
                <mat-icon [svgIcon]="'heroicons_solid:paper-clip'"></mat-icon>
            </button>
        </div>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Data da doação</mat-label>
            <input
                matInput
                [matDatepicker]="datepicker1"
                [(ngModel)]="form.value.start_date"
                formControlName="start_date"
            />
            <mat-datepicker-toggle
                matIconSuffix
                [for]="datepicker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="-mt-4">
            <mat-label>Observação (Opcional)</mat-label>
            <textarea matInput placeholder="Observação"></textarea>
        </mat-form-field>
    </form>

    <div
        *ngIf="message"
        class="flex bg-red-100 w-full rounded p-2 text-red-700 font-bold text-md"
    >
        {{ message }}
    </div>

    <div class="flex gap-4 self-center w-full text-white">
        <button
            mat-button
            class="p-8 py-4 w-full outline outline-1 outline-gray-200"
            (click)="goBack()"
        >
            Voltar
        </button>
        <button
            mat-button
            [ngClass]="{ '!bg-primary': form.valid }"
            class="bg-gray-300 text-white p-8 py-4 w-full"
            (click)="goNext()"
            [disabled]="!form.valid"
        >
            Continuar
        </button>
    </div>
</div>
