<div class="flex flex-col gap-8">
    <h1 mat-dialog-title>
        <h1 class="font-bold text-lg text-primary">Novo grupo de menu</h1>
    </h1>

    <div mat-dialog-content>
        <div class="flex flex-row gap-2 w-full bg-gray-100 p-4">
            <form
                [formGroup]="filtros"
                class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full"
            >
                <mat-form-field class="w-full" placeholder="Nome completo">
                    <mat-label>Pesquisar por nome</mat-label>
                    <input
                        matInput
                        formControlName="palavra_chave"
                        placeholder=""
                        (change)="aplicarFiltros()"
                    />
                </mat-form-field>
            </form>
        </div>

        <div class="flex flex-row w-full table-responsive">
            <table mat-table [dataSource]="listagem$" class="mat-elevation-z8">
                <template *ngFor="let column of colunasVisiveis | async">
                    <ng-container
                        [matColumnDef]="column"
                        *ngIf="column != 'acao'"
                    >
                        <th mat-header-cell *matHeaderCellDef>
                            {{ (this.colunas$ | async)[column] }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element[column] }}
                        </td>
                    </ng-container>
                </template>

                <ng-container matColumnDef="acao">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element"></td>
                </ng-container>

                <tr
                    mat-header-row
                    *matHeaderRowDef="colunasVisiveisComAcao | async"
                ></tr>
                <tr
                    mat-row
                    *matRowDef="
                        let row;
                        columns: colunasVisiveisComAcao | async
                    "
                ></tr>
            </table>
        </div>

        <mat-paginator
            [length]="total$ | async"
            [pageSize]="10"
            [pageSizeOptions]="[10, 15, 30, 50, 100]"
        ></mat-paginator>
    </div>

    <div mat-dialog-actions class="flex flex-col sm:flex-row justify-end gap-4">
        <mpmt-botao tipo="borda" [mat-dialog-close]="">Fechar</mpmt-botao>
    </div>
</div>
