<!-- <div class="flex flex-col h-full w-full p-8 ">
    <div class="flex bg-white rounded">
        <div class="flex flex-col bg-primary text-white p-8 py-4 w-96 gap-4">
            <h3 class="font-bold text-lg">Nova solicitação de férias</h3>
            <p class="font-bold text-xs leading-5">
                Selecione o periodo aquisitivo e escolha entre usufruto e
                indenizado, sua solicitação deverá de aprovação do chefe
                imediato e diretoria geral. Após aprovação de ambos, o DGP
                deverá efetivar. O adicional de férias é pago no mês anterior ao
                inicio do usufruto, o indenizado é pago na competência do
                usufruto. Atos regulatórios Ato 820/2012 PGJ
            </p>

            <request-new-regular-vacations-stepper></request-new-regular-vacations-stepper>
        </div>

        <div class="p-8 w-full">
            <router-outlet *ngIf="true"></router-outlet>
          <request-new-regular-vacations-step1
                *ngIf="step == 'step1'"
            ></request-new-regular-vacations-step1>

            <request-new-regular-vacations-step2
                *ngIf="step == 'step2'"
            ></request-new-regular-vacations-step2>

            <request-new-regular-vacations-step3
                *ngIf="step == 'step3'"
            ></request-new-regular-vacations-step3>

            <request-new-regular-vacations-step4
                *ngIf="step == 'step4'"
            ></request-new-regular-vacations-step4>
        </div>
    </div>
</div> -->
