<div class="flex flex-col gap-4 w-full">
    <div class="flex flex-col gap-1">
        <!-- <h1 class="text-base">Selecione um usufruto para cancelar</h1> -->

        <p class="text-xs text-gray-600">
            Informe o teletrabalho que deseja cancelar e clique em
            continuar.
        </p>
    </div>

    <div
        class="bg-gray-50 font-bold border border-gray-200 text-gray-500 p-4 rounded"
        *ngIf="results?.length <= 0"
    >
        Não há teletrabalhos canceláveis
    </div>
    <!-- {{ selection.selected | json }} -->
    <div class="table-responsive" *ngIf="results && results?.length > 0">
        <table mat-table [dataSource]="results">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="selecaoCustomizada(row)"
                        [checked]="selection.isSelected(row)"
                    >
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.id }}
                </td>
            </ng-container>

            <ng-container matColumnDef="tipo_solicitacao">
                <th mat-header-cell *matHeaderCellDef>Tipo Solicitação</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.tipo_solicitacao }}
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Data Solicitação</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.date | date : "dd/MM/yyyy" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="referencia">
                <th mat-header-cell *matHeaderCellDef>Referência</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.referencia}}
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Situação</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.status }}
                </td>
            </ng-container>

            <ng-container matColumnDef="inicio_plano">
                <th mat-header-cell *matHeaderCellDef>Inicio Plano</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.inicio_plano }}
                </td>
            </ng-container>

            <ng-container matColumnDef="fim_plano">
                <th mat-header-cell *matHeaderCellDef>
                    Fim Plano
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.fim_plano }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>

    <!-- <mat-paginator
        [length]="dataSource.total$ | async"
        [pageSize]="10"
        [pageSizeOptions]="[10, 15, 30]"
    ></mat-paginator> -->

    <mat-form-field class="w-full" *ngIf="isValid">
        <mat-label>Observação (Opcional)</mat-label>
        <textarea
            matInput
            [(ngModel)]="observation"
            placeholder="Observação..."
        >
        </textarea>
    </mat-form-field>

    <div
        *ngIf="message"
        class="flex bg-red-100 w-full rounded p-2 text-red-700 font-bold text-md"
    >
        {{ message }}
    </div>

    <div class="flex justify-end" *ngIf="isValid">
        <button
            [disabled]="!isValid"
            (click)="confirm()"
            mat-button
            color="primary"
            class="bg-primary text-white p-8 py-4 w-56"
        >
            Solicitar cancelamento
        </button>
    </div>
</div>
