::ng-deep .abas-secundarias .mat-mdc-tab-group {
    .mat-mdc-tab-header {
      background: #6B6C7E !important;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .mat-mdc-tab-labels .mdc-tab {
      background-color: #6B6C7E !important;
    }
}