<!-- <div class="flex flex-col gap-4 w-full">
    <h1 class="font-bold text-lg">Agenda Funcional</h1>
    <div
        class="flex flex-col gap-4 w-full bg-white text-black p-4 rounded shadow h-screen/2"
        id="calendar-wrapper"
    >
        <full-calendar
            id="calendar"
            [options]="calendarOptions"
            [events]="events"
            class="w-full h-full"
        ></full-calendar>
    </div>

    <div class="flex flex-col gap-2" *ngIf="eventsFiltered?.length > 0">
        <div class="font-bold">
            Eventos do dia {{ selectedDate | date : "dd/MM/YYYY" }}
        </div>
        <div
            class="grid border-l-4 rounded"
            *ngFor="let event of eventsFiltered"
            [ngStyle]="{ 'border-color': event.backgroundColor }"
        >
            <div class="px-2">{{ event.title }}</div>
        </div>
    </div>
</div> -->
