<div class="flex flex-col py-2 gap-2 max-h-70 overflow-y-auto">
    <div
        class="flex flex-col gap-4 border border-gray-200 bg-gray-100 rounded p-2 h-full w-full"
    >
        <!-- <div class="font-bold">Histórico</div> -->
        <div class="table-responsive">
            <table mat-table [dataSource]="results" class="">
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Data</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.date | date : "dd/MM/yyyy HH:mm:ss" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef>Grupo</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.group }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="employee">
                    <th mat-header-cell *matHeaderCellDef>Servidor</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.employee }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action_label">
                    <th mat-header-cell *matHeaderCellDef>Ação realizada</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.action_label }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="observation">
                    <th mat-header-cell *matHeaderCellDef>Observação</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="group">
                            {{ format30Chars(element.observation || "") }}
                            <div
                                *ngIf="
                                    element.observation &&
                                    element.observation?.length > 30
                                "
                                class="font-bold text-black cursor-pointer"
                                (click)="goDetail(element)"
                            >
                                ver mais
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="anexos">
                    <th mat-header-cell *matHeaderCellDef>Anexos</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex flex-col gap-0">
                            <div
                                (click)="download(document.id)"
                                *ngFor="let document of element.anexos"
                                class="flex items-start gap-2 text-underscore text-black-500 text-md cursor-pointer text-blue-600 rounded px-0 py-0"
                            >
                                <span>{{ document?.nome_arquivo }}</span>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button
                            mat-button
                            class="bg-primary text-white w-min"
                            *ngIf="
                                element.group === 'COGER' &&
                                element.action_label === 'Anotação'
                            "
                            (click)="openEditModal(element)"
                        >
                            Retificar
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
        </div>
    </div>
</div>
