@media (max-width: 599px){
    /** exibir o modal aproveitando o maximo da altura da tela */
    .cdk-overlay-pane {
        max-width: 100vw !important;
        max-height: 90vh !important;
        /*width: 99vw !important;*/
        /*height: 100% !important;*/
        /*padding: 4px !important;*/
    }
}

.dialog-panel-gray-100
  .mat-mdc-dialog-container
  .mdc-dialog__container
  .mat-mdc-dialog-surface {
  background-color: rgb(243 244 246);
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
    overflow: hidden;
    overflow-y: auto;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}
