<div class="page_back">
    <div class="body bar_title mt40">
        <h2 class="title-exp">Expediente</h2>
    </div>

    <section class="extend list_dpto">
        <div id="col1">
            <span>Procuradoria-geral de Justiça do Tocantins</span>
            <ul>
                <li><p>Luciano Cesar Casaroti</p></li>
                <li><strong>Procurador-Geral de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>José Demóstenes de Abreu</p></li>
                <li><strong>Subprocurador-Geral de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>Abel Andrade Leal Júnior</p></li>
                <li><strong>Chefe de Gabinete do PGJ</strong></li>
            </ul>
            <ul>
                <li><p>Marcelo Ulisses Sampaio</p></li>
                <li><strong>Promotor de Justiça Assessor do PGJ</strong></li>
            </ul>
            <ul>
                <li><p>Celsimar Custódio Silva</p></li>
                <li><strong>Promotor de Justiça Assessor do PGJ</strong></li>
            </ul>
            <ul>
                <li><p>Alayla Milhomem Costa Ramos</p></li>
                <li><strong>Diretoria-Geral</strong></li>
            </ul>
        </div>
        <div id="col2">
            <span>Colégio de Procuradores de Justiça</span>
            <ul>
                <li><p>Luciano Cesar Casaroti</p></li>
                <li><strong>Presidente do Colégio de Procuradores</strong></li>
            </ul>
            <ul>
                <li><p>Leila da Costa Vilela Magalhães</p></li>
                <li><strong>Procuradora de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>Vera Nilva Álvares Rocha Lira</p></li>
                <li><strong>Procuradora de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>João Rodrigues Filho</p></li>
                <li><strong>Procurador de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>José Demóstenes de Abreu</p></li>
                <li><strong>Procurador de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>Ricardo Vicente da Silva</p></li>
                <li><strong>Procurador de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>Marco Antonio Alves Bezerra</p></li>
                <li><strong>Procurador de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>José Maria da SIlva Júnior</p></li>
                <li><strong>Procurador de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>Jacqueline Borges Silva Tomaz</p></li>
                <li><strong>Procuradora de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>Ana Paula Reigota Ferreira Catini</p></li>
                <li><strong>Procuradora de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>Maria Cotinha Bezerra Pereira</p></li>
                <li><strong>Procuradora de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>Moacir Camargo de Oliveira</p></li>
                <li><strong>Procurador de Justiça</strong></li>
            </ul>
            <ul>
                <li><p>Marcos Luciano Bignotti</p></li>
                <li><strong>Procurador de Justiça</strong></li>
            </ul>
        </div>
        <div id="col3">
            <span>Conselho Superior do Ministério Público</span>
            <ul>
                <li><p>Luciano Cesar Casaroti</p></li>
                <li><strong>Presidente do Conselho</strong></li>
            </ul>
            <ul>
                <li><p>Marco Antonio Alves Bezerra</p></li>
                <li><strong>Membro</strong></li>
            </ul>
            <ul>
                <li><p>João Rodrigues Filho</p></li>
                <li><strong>Membro</strong></li>
            </ul>
            <ul>
                <li><p>José Demóstenes de Abreu</p></li>
                <li><strong>Membro</strong></li>
            </ul>
            <ul>
                <li><p>Moacir Camargo de Oliveira</p></li>
                <li><strong>Membro</strong></li>
            </ul>
        </div>
        <div id="col4">
            <span>Corregedoria-Geral do Ministério Público</span>
            <ul>
                <li><p>Marco Antonio Alves Bezerra</p></li>
                <li><strong>Corregedoria-Geral</strong></li>
            </ul>
            <ul>
                <li><p>José Maria da Silva Júnior</p></li>
                <li><strong>Corregedoria-Geral Substituto</strong></li>
            </ul>
            <ul>
                <li><p>Edson Azambuja</p></li>
                <li><strong>Promotor de Justiça Assessor do Corregedor-Geral</strong></li>
            </ul>
            <ul>
                <li><p>Thais Massilon Bezerra Cisi</p></li>
                <li><strong>Promotora de Justiça Assessora do Corregedori-Geral</strong></li>
            </ul>
        </div>
        <div id="col5">
            <span>Ouvidoria do Ministério Público</span>
            <ul>
                <li><p>Marcos Luciano Bignotti</p></li>
                <li><strong>Ouvidor</strong></li>
            </ul>
        </div>
        <div id="col6">
            <span>Centro de Estudos e Aperfeiçoamento Funcional - Escola Superior do Ministério Público do Estado do Tocantins</span>
            <ul>
                <li><p>Cynthia Assis de Paula</p></li>
                <li><strong>Diretora-Geral do CESAF-ESMP</strong></li>
            </ul>
        </div>
        <div id="col7">
            <span>Diretoria de Expediente</span>
            <ul>
                <li><p></p></li>
                <li><strong></strong></li>
            </ul>
        </div>
        <div id="col8">
            <span>Área Operacional de Publicidade dos Atos Oficiais - AOPAO</span>
            <ul>
                <li><p>Daniele Brandão Bogado</p></li>
                <li><strong>Diretora</strong></li>
            </ul>
        </div>
    </section>

    <section class="extend">
        <div class="logo_sup">
            <img src="/athenas/static/common/official_journal/images/logo_banner.png" width="" height="" alt="" />
        </div>
    </section>

    <footer class="extend footer_content_back">
        <div class="legal-sign">
            {% comment %} {% include "official_diary/legal_sign_doe.html" %} {% endcomment %}
            {% autoescape off %}{{ doe_sign }}{% endautoescape %}
        </div>
        <div class="mpto_info">
            <div>
                <p><strong>Endereço</strong> 202 NORTE, AV. LO 4, CONJ. 1, Lotes 5 e 6
                    Plano Diretor Norte - CEP 77.006-218
                    Palmas-TO </p>
                <p><strong>Fone</strong> 63 3216-7600 </p>
            </div>
            <img src="/athenas/static/common/official_journal/images/logo.png" width="100px" height="50px" alt="" />
        </div>
    </footer>
</div>
