<div style="line-height: 2.0;">
    <div *ngIf="loading" class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!loading" style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; align-items: center;">
            <h1 class="font-bold text-lg text-primary" style="font-size: 1.4rem !important;">
                OS {{ beneficiario.codigo_os }}
            </h1>
            <mpmt-botao (click)="exportarOs()" cor="sucesso" style="padding-left: 30px;">
                <mat-icon [svgIcon]="'mat_outline:print'"
                    style="vertical-align: middle; color:white; padding-right: 5px;"
                ></mat-icon>
                Exportar OS
            </mpmt-botao>
        </div>
    
    
        <div style="display: flex; align-items: center;">
            <ng-container *ngIf="feedback">
                <p class="font-bold text-primary" style="font-size: 1rem !important; padding-right: 30px;">
                    Feedback da assessoria:
                    <mat-icon *ngIf="feedback === 'positivo'" style="color: #018c6a;">thumb_up</mat-icon>
                    <mat-icon *ngIf="feedback === 'negativo'" style="color: #f74747;">thumb_down</mat-icon>
                    <mat-icon *ngIf="feedback === 'alerta'" style="color: #fccb1a;">warning</mat-icon>
                </p>
            </ng-container>

            <ng-container *ngIf="exibirBotaoAnalisar()">
                <mpmt-botao cor="destaque" (click)="irAnalisar()">Analisar</mpmt-botao>
            </ng-container>

            <ng-container *ngIf="exibirLiberar()">
                <mpmt-botao cor="destaque" (click)="irLiberar()">Confirmar liberação de empenho</mpmt-botao>
            </ng-container>
        </div>
    </div>
    <div *ngIf="beneficiario.codigo_os_viagem_original" style="position: relative; padding-top: 10px;"
        (mouseenter)="showTooltip = true" 
        (mouseleave)="showTooltip = false">
        <p class="tipo-viagem">
            <strong>Viagem excedente</strong>
            <span class="info-icon" style="cursor: pointer; margin-left: 5px;">
                ?
            </span>
            <span class="tooltip-content" [class.visible]="showTooltip">
                Esta viagem foi gerada porque o beneficiário <strong>{{ beneficiario.servidor_unicode }}</strong> excedeu o limite de diárias para o mês. 
                A quantidade de diárias da viagem que originou esta (<strong>OS: {{ beneficiario.codigo_os_viagem_original }}</strong>) é de 
                <strong>{{ extrato?.excedente?.qtd_total_diarias_calculadas - extrato?.excedente?.qtd_total_diarias }}</strong>.
            </span>
        </p>
    </div>

    <div *ngIf="beneficiario.codigo_os_excedente" style="position: relative; padding-top: 10px;"
        (mouseenter)="showTooltip = true" 
        (mouseleave)="showTooltip = false">
        <p class="tipo-viagem">
            <strong>Viagem originou excedente</strong>
            <span class="info-icon" style="cursor: pointer; margin-left: 5px;">
                ?
            </span>
            <span class="tooltip-content" [class.visible]="showTooltip">
                Esta viagem originou a <strong>OS: {{ beneficiario.codigo_os_excedente }}</strong> porque o beneficiário <strong>{{ beneficiario.servidor_unicode }}</strong> excedeu o limite de diárias para o mês. 
                A quantidade de diárias da viagem foi criada a partir desta é de <strong>{{ extrato?.excedente?.qtd_total_excedente }}</strong>.
            </span>
        </p>
    </div>
    <h1 class="font-bold text-lg text-primary" style="margin-top:10px;">Informações básicas</h1>
    <div style="display: flex; flex-wrap: wrap; line-height: 2.0;">
        <div style="width: 50%;">
            <p><strong>Servidor:</strong> {{ beneficiario.servidor_unicode | formatarNome }} <span *ngIf="beneficiario.servidor_cpf != '' "> - {{beneficiario.servidor_cpf}}</span></p>
            <p><strong>Lotação:</strong> {{ beneficiario.lotacao | formatarNome }}</p>
        </div>
        <div style="width: 50%;">
            <p><strong>Categoria Funcional:</strong> {{ beneficiario.categoria_funcional | formatarNome }}</p>
            <p *ngIf="beneficiario.gedoc_numero" ><strong>GEDOC:</strong> {{ beneficiario.gedoc_numero }}</p>
        </div>
    </div>
    <ng-container *ngIf="!isTelaChefeImediato">
        <h1 class="font-bold text-lg text-primary" style="margin-top:20px;">Dados bancários</h1>
        <div style="display: flex; flex-wrap: wrap;">
            <div style="width: 70%;">
                <p><strong>Conta bancária:</strong> {{ beneficiario.conta_bancaria_unicode | formatarNome }}</p>
            </div>
            <div style="width: 30%;">
                <p><strong>Tipo da conta:</strong> {{ beneficiario.conta_bancaria_tipo | formatarNome }}</p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="beneficiario.acomp_autoridade">
        <h1 class="font-bold text-lg text-primary" style="margin-top:20px;">Outros dados</h1>
        <div style="display: flex; flex-wrap: wrap;">
            <div style="width: 30%;">
                <p><strong>Acompanha autoridade:</strong> {{  booleano_string(beneficiario.acomp_autoridade) }}</p>
            </div>
            <div style="width: 30%;">
                <p><strong>Acompanha autoridade deferido:</strong> {{ booleano_string(beneficiario.acomp_autoridade_deferimento)  }}</p>
            </div>
        </div>
    </ng-container>

    <h1 class="font-bold text-lg text-primary" style="margin-top:20px;">Eventos</h1>
    <div style="display: flex; flex-wrap: wrap;">
        <mat-list>
            <mat-list-item *ngFor="let evento of eventos">
                <mat-icon matListItemIcon style="color: #6b6c7e;">event</mat-icon>
                <div matListItemTitle>{{ evento.unicode }}</div>
            </mat-list-item>
        </mat-list>
    </div>
    <ng-container *ngIf="!isTelaChefeImediato && beneficiario.fluxo !== 2">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1 class="font-bold text-lg text-primary" style="margin-top:5px;">Extrato de valores</h1>
            
            <div class="flex justify-end gap-2">
                <ng-container *ngIf="podeEditarValor()">
                    <mpmt-botao cor="destaque" (click)="irEditarValor()">Editar valor deferido</mpmt-botao>
                </ng-container>
    
                <ng-container *ngIf="podeRecalcular(beneficiario)">
                    <mpmt-botao cor="destaque" (click)="recalcularViagem()">Recalcular Diarias</mpmt-botao>
                </ng-container>
            </div>
        </div>

        <div  *ngIf="extrato?.consolidado" style="display: flex; flex-wrap: wrap; padding-top: 5px; padding-bottom: 10px;">
            <div style="width: 50%;">
                <div class="font-bold text-primary">
                    Valores calculados
                </div>
                <p><strong>Total de diárias:</strong> {{ extrato.consolidado.total_diarias }} diárias</p>
                <p><strong>Valor bruto:</strong> {{ extrato.consolidado.valor_bruto | currency:'BRL':'symbol' }}</p>
                <p><strong>Desconto de auxílio alimentação:</strong> {{ extrato.consolidado.valor_total_desc_alimentacao | currency:'BRL':'symbol' }}</p>
                <p><strong>Desconto de transporte:</strong> {{ extrato.consolidado.valor_total_desc_transporte | currency:'BRL':'symbol' }}</p>
                <p [ngStyle]="{
                    'background-color': extrato.consolidado.valor_liquido_deferido !== '-' ? '' : '#6b6c7e', 
                    'padding': extrato.consolidado.valor_liquido_deferido !== '-' ? '' : '0 5px', 
                    'border-radius': '4px', 
                    'max-width': 'fit-content', 
                    'color': extrato.consolidado.valor_liquido_deferido !== '-' ? '' : 'white'
                }">
                    <strong>Valor líquido calculado:</strong> {{ extrato.consolidado.valor_liquido | currency:'BRL':'symbol' }}
                </p>
                <p 
                    style="background-color: #6b6c7e; padding: 0 5px 0 5px; border-radius: 4px; max-width: fit-content; color: white;"
                    *ngIf="extrato.consolidado.valor_liquido_deferido !== '-'">
                    <strong>Valor líquido deferido:</strong>{{ extrato.consolidado.valor_liquido_deferido | currency:'BRL':'symbol' }}
                </p>
            </div>
    
            <div style="width: 50%;">
                <div class="font-bold text-primary">
                    Base de cálculo
                </div>
                <p *ngIf="extrato.base_calculo.subsidio !== '-'">
                    <strong>Valor do subsídio:</strong> {{ extrato.base_calculo.subsidio }}
                </p>
                <p>
                    <strong>Valor base de auxílio alimentação:</strong> {{ extrato.base_calculo.alimentacao | currency:'BRL':'symbol' }}
                </p>
                <p>
                    <strong>Valor base de transporte:</strong> {{ extrato.base_calculo.transporte | currency:'BRL':'symbol' }}
                </p>
                <p>
                    <strong>Valor base de diária:</strong> {{ extrato.base_calculo.valor_diaria | currency:'BRL':'symbol' }}
                </p>
            </div>
        </div>
    </ng-container>
    
</div>

<limites-uso-diarias></limites-uso-diarias>
<prestacao-contas-diarias></prestacao-contas-diarias>

<div style="display: flex; justify-content: center; gap: 20px; margin-top: 40px;">
    <ng-container *ngIf="exibirBotaoChefeImediato()">
        <button mat-button color="[#00AC81]" class="bg-[#00AC81] text-white p-8 py-4 w-50" 
            (click)="irCienciaChefeImediato(true)">
            Deferir
        </button>

        <button mat-button color="[#F87171]" class="bg-[#F87171] text-white p-8 py-4 w-50"
            (click)="irCienciaChefeImediato(false)">
            Indeferir
        </button>
    </ng-container>
</div>