# PLANSAUDE
# PLANSAUDE_ORGAN_COD =  #  Codigo dado pelo PLANSAUDE ao orgao
# PLANSAUDE_ORGAN_NAME = #  Nome dado pelo PLANSAUDE ao orgao

# VIABILLIZE
# VIABILLIZE_SECRET_KEY =  # password
# VIABILLIZE_DOMAIN_PORTAL =  # dominio do portal informado para o Viabillize
# VIABILLIZE_DEV_NAME = # Nome do contato pelo desenvolvimetp para o Viabillize
# VIABILLIZE_DEV_FONE =  # Telefone do contato pelo desenvolvimetp para o Viabillize
# VIABILLIZE_DEV_EMAIL = # Email do contato pelo desenvolvimetp para o Viabillize

# EVENTOS UTILIZADOS NA GERACAO DA SEFIP
# EVENTOS_INSS =  # Numero dos eventos de INSS para SEFIP
# EVENTOS_INSS_13 =  # Numero dos eventos de INSS 13º para SEFIP
# EVENTOS_MATERNIDADE = # Numero dos eventos de salario maternidade
