<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Documento para Impressão</title>

        <link rel="stylesheet" href="/athenas/static/js/core/papper.css">
        <link rel="stylesheet" href="/athenas/static/js/core/print-papper.css">
        <link rel="stylesheet" href="/athenas/static/common/clinical/clinical.css">
    </head>
    <body>
        {% if success == False %}
        <p>
            {{message}}
        </p>
        {% else %}
        {% for page in pages %}
        <div class="papper-container-a4">
            <div class="papper-model">
                {{ page | safe }}
            </div>
        </div>
        {% if forloop.last == False %}
        <div class="end-page"></div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </body>
</html>
