# Identificação do slug da classe que sera utilizada para gerar automaticamento o numero da matricula do servidor.
# ACCOUNT_INTEGRATION_ENDPOINT = 
# ACCOUNT_INTEGRATION_CHANGE_PASSWORD = 
# ACCOUNT_INTEGRATION_TOKEN = 

# CLASSCODE_AUTO_REGISTRATION_NUMBER_SLUG = registration-base
