{% extends "inspection/base.html" %}
{% load judicialfilters %}
<div class="composite">
    {% block content %}
        <br />
        <table width=100% border=0 style="border-width: 2px; border-collapse: collapse;">
          <tr><td style="padding: 5px; background-color: #c0c0c0;" ><b>Você é Único</b></td></tr>
        </table>

        <div style="padding-top: 1em; padding-left: 0.5em; padding-right: 0.5em; font-size:12pt; text-align: justify; ">
            A área de saúde desenvolve diversas ações pensando na qualidade da assistência direcionada aos integrantes do Ministério Público Estadual do Tocantins. Atualmente, vislumbra a sistematização dessas ações a partir de um diagnóstico de necessidades, com vistas à promoção da saúde e qualidade de vida.
        </div>
        <div style="padding-top: 1em; padding-left: 0.5em; padding-right: 0.5em; font-size:12pt; text-align: justify; ">
            O projeto <b>“Você é Único”</b> tem o objetivo de monitorar as condições de saúde dos integrantes deste órgão, conhecendo cada um na sua individualidade, através da identificação das fragilidades e entraves no processo de trabalho, bem como da detecção de possíveis riscos a saúde, possibilitando a programação de ações de uma maneira mais eficiente.
        </div>



    {% endblock %}
</div>
