{% load judicialfilters %}
<div class="composite">
    {% block content %}
        <div class="paragraph-text" style="padding-left: 1em; text-align: justify;">
            Prezados Membros e Servidores,
            <br />
            <br />
            <br />
            Convidamos a todos a participar do <b>Projeto “Você é Único”</b>, implementado pela Área de Promoção e Assistência à Saúde - APAS do Ministério Público do Estado do Tocantins.<br />
            Objetivamos realizar um mapeamento da saúde dos integrantes do MPE – conhecendo cada um em sua individualidade, com o fim de monitorar as condições de saúde de forma mais eficiente.<br />
            Contamos com a participação de todos, de modo a possibilitar o desenvolvimento de ações direcionadas às reais necessidades de todos os integrantes deste <i>Parquet</i>.<br />
            Ressaltamos que todas as informações são <b><u>SIGILOSAS</u></b>.<br />
            <br />
            Estamos a disposição para esclarecimentos de quaisquer dúvidas, bem como para sugestões na APAS ou pelo telefone (63) 3216-7589.<br />
            <br />
            <br />
            Para preencher o questionário <a href="#" onClick="javascript:toolkit.Application.createFormFor('CIRDIRHealthArea');">clique aqui</a>.<br />
            <br />
            <br />
            <br />
            Equipe APAS
        </div>
        <br />
    {% endblock %}
</div>
