<div class="flex flex-col h-full w-full p-4 gap-2">
    <div class="flex justify-between py-2">
        <div class="flex font-bold text-xl">Visualizar solicitação</div>
        <div
            class="flex text-bold text-sm py-1 px-2 bg-gray-100 border border-gray-200 rounded-full"
        >
            {{ requestStatusLabel(data?.status) }}
        </div>
    </div>

    <div class="flex gap-4">
        <div class="flex flex-col gap-2">
            <div class="flex gap-2">
                <div class="font-bold">Código da solicitação:</div>
                <div>{{ data?.pk }}</div>
            </div>

            <div class="flex gap-2">
                <div class="font-bold">Data da solicitação:</div>
                <div>{{ data?.date }}</div>
            </div>

            <div class="flex gap-2">
                <div class="font-bold">Tipo da solicitação:</div>
                <div>{{ data?.type_of_request }}</div>
            </div>

            <div class="flex gap-2">
                <div class="font-bold">Solicitante:</div>
                <div>{{ data?.employee_name }}</div>
            </div>
        </div>
    </div>

    <div
        class="flex mt-4 p-2 gap-2 bg-gray-100 w-full font-bold text-lg cursor-pointer text-center rounded-full"
    >
        <div
            class="w-36 p-2 rounded-full"
            [ngClass]="{ 'bg-gray-300': currentTab == 'METAS' }"
            (click)="currentTab = 'METAS'"
        >
            Metas
        </div>

        <div
            class="w-36 p-2 rounded-full"
            [ngClass]="{ 'bg-gray-200': currentTab == 'HISTORICOS' }"
            (click)="currentTab = 'HISTORICOS'"
        >
            Histórico
        </div>
    </div>

    <div class="flex flex-col py-4 gap-2" *ngIf="currentTab == 'METAS'">
        <div class="flex flex-col gap-2 w-full">
            <div class="flex px-8 rounded-r-full w-full font-bold">
                <div class="w-6/12">Descrição</div>
                <div class="w-2/12">Realizado/Meta</div>
                <div class="w-2/12">Periodicidade</div>
                <div class="w-2/12">Situação</div>
            </div>

            <div
                class="flex bg-gray-50 p-2 px-8 rounded-r-full w-full font-bold"
                *ngFor="let item of usufructs"
            >
                <div class="w-6/12">
                    {{ item.mark_plan?.descricao }}
                </div>
                <div class="w-2/12">
                    {{ item.total_completed }} / {{ item.mark_plan?.meta }}
                </div>
                <div class="flex w-2/12">
                    {{ item.mark_plan?.periodicity_label }}
                </div>

                <div class="flex w-2/12">
                    {{ item?.mark_situation_label }}
                </div>
            </div>
        </div>
    </div>

    <div
        class="flex flex-col py-2 gap-2 overflow-y-auto h-96"
        *ngIf="currentTab == 'HISTORICOS'"
    >
        <div class="flex px-8 rounded-r-full w-full font-bold">
            <div class="w-1/12">Data</div>
            <div class="w-2/12">Grupo</div>
            <div class="w-3/12">Servidor</div>
            <div class="w-2/12">Ação realizada</div>
            <div class="w-2/12">Observação</div>
        </div>

        <div class="flex flex-col gap-2 w-full">
            <div
                class="flex bg-gray-50 p-2 px-8 rounded-r-full w-full font-bold"
                *ngFor="let item of histories"
            >
                <div class="w-1/12">
                    {{ item.date | date : "dd.MM.y" }}
                </div>
                <div class="w-2/12">
                    {{ item.group }}
                </div>
                <div class="w-3/12">{{ item?.employee }}</div>
                <div class="w-2/12">{{ item?.action_label }}</div>
                <div class="w-2/12">
                    {{ item.observation?.substring(0, 30) }}
                </div>
            </div>
        </div>
    </div>
</div>

<div
    class="flex gap-2 self-center w-full justify-center p-2 rounded"
    *ngIf="canCancel"
>
    <button
        mat-button
        class="bg-red-400 text-white p-8 py-2 self-end"
        (click)="cancelRequest()"
    >
        {{textoCancelar}}
    </button>
</div>

<div
    class="flex gap-2 self-center w-full justify-center bg-gray-100 p-2 rounded"
    *ngIf="showActions && actions?.length > 0"
>
    <mat-form-field class="w-full">
        <mat-label>Observação (Opcional)</mat-label>
        <input
            type="textarea"
            matInput
            [formControl]="observation"
            placeholder="..."
        />
    </mat-form-field>

    <div *ngFor="let action of actions">
        <button
            mat-button
            color="primary"
            class="bg-primary text-white p-8 py-2 justify-end"
            (click)="confirm(action.action)"
        >
            {{ action.label }}
        </button>
    </div>
</div>

<div
    *ngIf="message"
    class="flex bg-red-100 w-full rounded p-2 text-red-700 font-bold text-md"
>
    {{ message }}
</div>
