layout {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    min-width: 0;

    /* Base styles for individual layouts */
    > * {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        width: 100%;
    }

    /* Base styles for components that load as a route */
    router-outlet {

        + * {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            width: 100%;
        }
    }
}


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }

// .table-responsive {
//     display: block;
//     width: 100%;
//     overflow-x: auto;
//     .mat-table {
//         width: 100%;
//         max-width: 100%;
//         margin-bottom: 1rem;
//         display: table;
//         border-collapse: collapse;
//         margin: 0px;
//     }
//     .mat-row,
//     .mat-header-row {
//         display: table-row;
//     }
//     .mat-cell,
//     .mat-header-cell {
//         word-wrap: initial;
//         display: table-cell;
//         padding: 0px 5px;
//         line-break: unset;
//         width: auto;
//         white-space: nowrap;
//         overflow: hidden;
//         vertical-align: middle;
//     }
//   }

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color:rgb(224 242 254); 
}