<div class="flex flex-col gap-8">
    <h1 mat-dialog-title>
        <h1 class="font-bold text-lg text-black">Tem certeza que quer apagar este Valor?</h1>
    </h1>

    <div mat-dialog-actions class="flex flex-col sm:flex-row justify-end gap-4">
        <mpmt-botao tipo="borda" (click)="fecharFormulario()"
            >Fechar</mpmt-botao
        >
        <mpmt-botao
            cor="critico"
            (click)="confirmarFormulario()"
            >Apagar</mpmt-botao
        >
    </div>
</div>
