<div
    class="flex flex-col gap-2 self-center w-full justify-center bg-gray-100 p-2 rounded"
    *ngIf="
        (showActions &&
            actions?.length > 0 &&
            request.portal_request_type ===
                RequestType.PROGRESSAO_HORIZONTAL) ||
        podeEnviar()
    "
>
    <span
        style="
            font-weight: 500;
            color: rgba(var(--fuse-text-default-rgb), var(--tw-text-opacity));
        "
        >Adicionar documentos</span
    >
    <table
        mat-table
        [dataSource]="documents"
        class="w-full table-responsive rounded-lg"
        [ngClass]="{ hidden: documents.length <= 0 }"
    >
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="w-full">Descrição</th>
            <td mat-cell *matCellDef="let element">
                <input
                    mat-input
                    [(ngModel)]="element.description"
                    class="bg-gray-100 border w-full"
                    required
                    placeholder="Insira uma descrição"
                />
            </td>
        </ng-container>

        <ng-container matColumnDef="originalName">
            <th mat-header-cell *matHeaderCellDef class="w-full">Arquivo</th>
            <td mat-cell *matCellDef="let element">
                {{ element.originalName }}
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Remover</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon
                    [svgIcon]="'heroicons_outline:trash'"
                    class="cursor-pointer"
                    (click)="removeItem(element.id)"
                ></mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="flex flex-col gap-2">
        <button
            (click)="fileInput.click()"
            class="flex justify-between w-full gap-4 bg-white p-2 rounded border border-gray-300"
        >
            <div class="flex gap-2">
                <div class="w-full">
                    <span>Selecione o arquivo para adicionar</span>
                </div>
            </div>
            <input
                #fileInput
                type="file"
                (change)="onFileInput($event)"
                style="display: none"
            />
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        </button>
    </div>
</div>

<div
    class="flex flex-col gap-2 self-center w-full justify-center bg-gray-100 p-2 rounded"
    *ngIf="
        showActions &&
        actions?.length > 0 &&
        request.portal_request_type === RequestType.PROGRESSAO_HORIZONTAL
    "
>
    <mat-form-field appearance="fill" class="w-full">
        <mat-label>Selecione uma Publicação</mat-label>
        <input
            matInput
            [matAutocomplete]="autoPublication"
            [(ngModel)]="searchKeyword"
            (ngModelChange)="searchPublications()"
        />
        <mat-autocomplete
            #autoPublication="matAutocomplete"
            [displayWith]="displayFn"
        >
            <mat-option
                *ngFor="let publication of publications"
                [value]="publication"
                (onSelectionChange)="onSelectionChange(publication)"
            >
                {{ publication.description }}
            </mat-option>
            <button mat-button (click)="loadMore()">Ver Mais</button>
        </mat-autocomplete>
    </mat-form-field>
</div>

<div
    class="flex flex-col self-center w-full justify-center bg-gray-100 p-2 rounded"
    *ngIf="showActions && actions?.length > 0"
>
    <mat-form-field class="w-full">
        <mat-label>Observação</mat-label>
        <textarea
            matInput
            placeholder="Observação..."
            [formControl]="observation"
        >
        </textarea>
        <mat-error *ngIf="observation.hasError('required')">
            O campo de observação é obrigatório.
        </mat-error>
    </mat-form-field>

    <div class="flex flex-row gap-4 text-end w-full justify-end">
        <div class="flex flex-row gap-4">
            <div
                *ngFor="let document of documents"
                class="flex items-center gap-2 text-underscore text-black-500 text-xs border rounded px-4 py-2"
            >
                <span>{{ document?.name }}</span>
                <mat-icon
                    (click)="removeItem(document.id)"
                    [svgIcon]="'heroicons_outline:trash'"
                    class="text-red-500 text-xs cursor-pointer"
                ></mat-icon>
            </div>
        </div>

        <span
            *ngIf="
                showActions &&
                actions?.length > 0 &&
                request.portal_request_type ===
                    RequestType.DESBLOQUEIO_DO_TELETRABALHO
            "
            (click)="fileInput.click()"
            class="flex justify-between l gap-1 p-2 w-min text-bold text-black cursor-pointer border rounded-full"
        >
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>

            <div class="flex gap-2">
                <div class="w-full">
                    <span>Anexar</span>
                </div>
            </div>
            <input
                #fileInput
                type="file"
                (change)="onFileInput($event)"
                style="display: none"
            />
        </span>
    </div>

    <div class="flex gap-2 justify-center w-full">
        <div *ngFor="let action of actions">
            <button
                [disabled]="action.disabled || this.isLoading"
                mat-button
                class="g-primary text-white p-8 py-2 justify-end"
                [ngStyle]="getStyle(action.label)"
                (click)="selectAction(action.action, selectedPublication)"
            >
                {{ action.label }}
            </button>
        </div>
    </div>
</div>

<div
    *ngIf="message"
    class="flex bg-red-100 w-full rounded p-2 text-red-700 font-bold text-md"
>
    {{ message }}
</div>

<div class="flex flex-col gap-2">
    <div class="flex gap-2 self-center w-full justify-center p-2 rounded">
        <button
            mat-button
            class="bg-red-400 text-white p-8 py-2 self-end"
            *ngIf="canCancel && !(showActions && actions?.length > 0)"
            (click)="cancelRequest()"
        >
            {{ textoCancelar }}
        </button>
        <button
            mat-button
            class="bg-primary text-white w-min"
            *ngIf="podeEnviar()"
            (click)="reenviarRequest(documents)"
        >
            Reenviar a solicitação
        </button>
    </div>
</div>
