<div class="paragraph-text">

    <p style="text-align:justify; margin-top: 2em; margin-bottom: 4em;">
        <strong>Declaro que li e que estou ciente do teor deste documento.</strong>
    </p>

    <hr style="width:50%; height:1px; background: #000; " />

    <p style="text-align:center; margin-top: -1em;" >
        {{ doc.person }}
    </p>

    <p style="text-align:center; font-size:1em; margin-top: 3em;">
    <strong>
        Encaminhamento escrito conforme determinado na Resolução do CPJ n&deg; 03/2013, Art. 8&deg;, Inciso VII e &sect; Único.
    </strong>
    </p>

</div>
