<div class="flex flex-col gap-8">
    <h1 mat-dialog-title>
        <h1 class="font-bold text-lg text-primary">{{ data.titulo }}</h1>
    </h1>

    <div mat-dialog-content style="color: #47505f;">
        <p style="font-weight: 600; padding-bottom: 20px;">A solicitação de diárias dos seguintes beneficiários foi cancelada:</p>

        <ul *ngIf="beneficiarios.length">
            <li *ngFor="let beneficiario of beneficiarios"
                style="padding-bottom: 10px;">
                {{ beneficiario.servidor_unicode }}
                <span *ngIf="data.fluxoID === 36"> - Número do empenho: {{ beneficiario.numero_empenho }}</span>
            </li>
        </ul>
    </div>

    <div mat-dialog-actions class="flex flex-col sm:flex-row justify-end gap-4">
        <mpmt-botao tipo="borda" (click)="fecharFormulario()"
            >Fechar</mpmt-botao
        >
        <mpmt-botao
            cor="sucesso"
            (click)="darCiencia()"
            >Dar ciência de cancelamento</mpmt-botao
        >
    </div>

</div>
