{% load judicialfilters %}
<div class="papper">
    <div>{% include "judicial/lawsuit/header.html" %}</div>

    <div><h2>Remessa externa dos Autos</h2></div>
    <div><small>Noticia de Fato : {{ doc.lawsuit.origin.codigo }} - {{ doc.lawsuit.cache_number }}</small></div>

    <div class="paragraph-text">
        {% if execution_organ.responsavel.pessoa_fisica.sexo == 'M' %}
        O Promotor de Justiça
        {% else %}
        A Promotora de Justiça
        {% endif %}
        <span class="bold">{{ execution_organ.responsavel.pessoa_fisica }}</span>
        solicitou que a Noticia de Fato <span class="bold">{{ doc.lawsuit.origin.codigo }}</span>,
        seja encaminhada para o órgão <span class="bold">{{ doc.get_organ_display }}</span> com a
        seguinte argumentação:
    </div>

    <div class="paragraph-text">{{ doc.text | safely }}</div>

    <div style="text-align:center; padding-top: 2.5em">
        <div style="padding: 4em 0">{{ execution_organ.localidade.nome | city_name }}, {{ doc.modified_at | date:'d \d\e F \d\e Y' }}</div>
        <div><span class="bold">{{ execution_organ.responsavel.pessoa_fisica }}</span></div>
        <div><span style="font-size: 0.6em">{{ execution_organ.nome }}</span></div>
    </div>
</div>