
{% extends "raf/base.html" %}
{% load judicialfilters %}
{% block content %}
    <div class="field">

        <div>
            <h2 class="title-1 top-space-3">Solicitação de Ajuste em Atividades</h2>
        </div>
        </br>
        <div class="value">
          Membro: <b>{{ prosecutor }}</b></br>
          RAF: <b>{{ raf.month }}/{{ raf.year }}</b></br>
          Órgão de Execução: <b>{{ doc.activity.workerlocation.location }}</b></br>
          Questionário: <b>{{ quiz }}</b></br>
          Item: <b>{{ doc.activity.item }}</b></br>
          Subitem: <b>{{ doc.activity.subitem }}</b></br></br>
          Quantidade aferida pela sistema: <b>{{ doc.activity.amount_athenas|default:"0" }}</b></br>
          Quantidade para submissão: <b>{{ doc.activity.amount_submitted|default:"0" }}</b></br>
          Nova quantidade para submissão: <b>{{ doc.amount }}</b></br></br>
          STATUS SOLICITAÇÃO: <b>{{ doc.get_situation_display }}</b>
        </div>

        {# <h2>Pedidos</h2>#}
            <h2 class="title-1">Alterações solicitadas</h2>
        {% if doc.dataadjustment %}
            {% for data in doc.dataadjustment.all %}
                <div style="background-color: rgb(220, 220, 220);">
                    <hr />
                    <div style="padding-left: 1em;">
                        <table width=100%>
                            <tr>
                                <td>Operação: <b>{{ data.get_operation_display }}</b> <br /> </td>
                                <td>Processo: <b>{{ data.process_number_formatted }}</b> <br /> </td>
                                <td>Data: <b>{{ data.date | date:'d/m/Y' }}</b> <br /> </td>
                            </tr>
                        </table>
                        Movimento: <b>{{ data.movement.title }}</b> <br />
                        Por: <b>{{ data.employee }}</b> <br />
                        <div style="text-align: justify">Justificativa: <b>{{ data.initial_message | safely }}</b></div>
                        <td>Status do item: <b>{{ data.get_situation_display }}</b> <br /> </td>
                    </div>
                    <hr />
                </div>
                {% if data.conversation   %}
                    <div style="padding-left: 1em;">
                        <hr />
                        {% for content in data.conversation.contents.all %}
                            {% include "raf/conversation.html" %}
                        {% endfor %}
                    </div>
                {% else %}
                    <strong>Não há troca de informações até o momento</strong>
                    {% endif %}
            {% endfor %}
        {% else %}
        <strong>Não há pedidos na solicitação</strong>
        {% endif %}

        {% if doc.conversation   %}
            <hr />
            {% for content in doc.conversation.contents.all %}
                {% include "raf/conversation.html" %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
