<div
    class="min-h-screen flex flex-grow items-center justify-center bg-gray-50 h-screen w-screen p-8"
>
    <div
        class="flex flex-col rounded-lg p-8 justify-center text-center border border-dashed border-gray-200 w-full md:w-1/2 gap-8 bg-gray-200"
    >
        <div class="flex justify-center w-full">
            <img
                class="flex w-36 -ml-5"
                src="assets/images/logo/logo-text.svg"
                alt="Logo image"
            />
        </div>

        <h1 class="mb-4 text-4xl font-bold">Página não encontrada</h1>
        <p class="text-gray">
            Oops! A página procurada não existe. Verifique a url acessada ou
            volte a página principal.
        </p>
        <a
            href="/#/vdf/home"
            class="flex mt-4 rounded bg-blue-500 px-4 py-2 font-semibold text-white hover:bg-blue-600 self-center"
        >
            Voltar a página principal
        </a>
    </div>
</div>
