<mpmt-form-base [titulo]="titulo" [mensagemErro]="mensagemDeErro()">
    <form [formGroup]="form" class="flex flex-row gap-2 w-full">
        
        <p-multiselect
            formControlName="valor"
            styleClass="w-full"
            [options]="items"
            [optionLabel]="atributoDisplay"
            [filter]="true"
            [loading]="carregando"
            [showClear]="true"
            [placeholder]="placeholder"
            [disabled]="desabilitado"
            [maxSelectedLabels]="1"
            [dataKey]="atributoChave"
            [virtualScroll]="false" 
            [virtualScrollItemSize]="23"
            [showToggleAll]="false" 
            [selectAll]="false"
            (onFilter)="filtrarUmaVez($event)"
            (onChange)="aoSelecionar($event)"
            [displaySelectedLabel]="'label'"
            autocomplete="on"
         >
            <ng-template let-item #item>
                <div class="flex items-center gap-2">
                    <div>{{ item[atributoDisplay] }}</div>
                </div>
            </ng-template>

            <ng-template #footer>
                <div class="p-3 flex justify-between">
                    <ng-container *ngTemplateOutlet="conteudoRodape; context: {}">
                    </ng-container>
                </div>
            </ng-template>
            
        </p-multiselect>
    </form>
</mpmt-form-base>
